body {
    background: yellow;
}

// Top area

h1 {
    text-align: center;
}

#add-task {
    background-color: rgb(16, 16, 207);
    color: white;
    border-radius: 3px;
    border-color: rgb(16, 16, 207);
    margin-left: 5px;
}

.add-task {
    display: flex;
    justify-content: center;
}

// Task List area

ul#todo-list {
    list-style-type: none;
    width: 750px;
    padding-left: 0;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

li {
    padding: 15px;
    border: solid gray 1px;
}

.checkbox {
    margin-right: 50px;
}

.fa-trash-can {
    color: red;
    position: absolute;
    right: 10px;
}

#todo-item {
    width: 500px;
}

// styling to add

.mark-done {
    text-decoration: line-through;
}